<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>ジャンル編集</h1>

      <% if @genre.errors.any? %>
        <%= @genre.errors.count %>errors prohibited this obj from being saved:</br>
        <% @genre.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>


      <%= form_with model: @genre, url: admin_genre_path(@genre.id), local:true do |f| %>
        <div class="form-group">
          <p>
            <%= f.label :ジャンル名 %></br>
            <%= f.text_field :name, autofocus: true, id:"genre_name" %>
          </p>
        </div>
        <%= f.submit "変更を保存", class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>

</div>
