<div class="container">
<h4>会員情報編集</h4>

<%= form_with model: @customer, url: customer_path, local:true do |f| %>

  <div class="field_form_group">
    <%= f.label :名前 %>
    <%= f.label :（姓） %>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
    <%= f.label :（名） %>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
  </div>

  <div class="field_form_group">
    <%= f.label :フリガナ %>
    <%= f.label :（セイ） %>
    <%= f.text_field :kana_last_name, autofocus: true, autocomplete: "kana_last_name" %>
    <%= f.label :（メイ） %>
    <%= f.text_field :kana_first_name, autofocus: true, autocomplete: "kana_first_name" %>
  </div>

  <div class="field_form_group">
    <%= f.label :郵便番号（ーなし） %>
    <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
  </div>

   <div class="field_form_group">
    <%= f.label :住所 %>
    <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
  </div>

  <div class="field_form_group">
    <%= f.label :電話番号（ーなし） %>
    <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
  </div>

  <div class="field_form_group">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <p><%= f.submit "編集内容を保存" ,class:"btn btn-success" %> <%= link_to "退会する" ,quit_path ,class:"btn btn-danger" %></p>
  </div>
<% end %>
</div>