<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h3>ようこそ、ながのCAKEへ！</h3>
      <h3>このサイトは、ケーキ販売のECサイトになります。</h3>
      <h3>会員でない⽅も商品の閲覧はできますが、</h3>
      <h3>購⼊には会員登録が必要になります。</h3>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
        </div>
        <div class="row">
          <p><h3>新着商品</h3> 
            |  
            <%= form_with url: search_path, method: :get, local: true do |f| %>
              <%= f.select :model %>
              <%= f.submit '検索' %>
            <% end %>
          </p>
          <% @items.each do |item| %>
            <%= link_to item_show(item.id) do %>
              <%= attachment_image_tag item.id, :image_id, :fill, 100, 100, format: "jpeg", fallback: "no_image.jpg" %>
            <% end %>
            <%= item.name %>
            <%= item.price %>
            <% end %>
        </div>
        <%= link_to "全ての商品をみる", items_path %>
      </div>
    </div>
  </div>
</div>