<div class="container">
  <div class="row" style="height:80px"></div>

    <div class="search-form offset-8",>
      <%= form_with url: search_search_path, method: :get, local: true do |f| %>
        <%= f.collection_select(:genre_id, Genre.all, :id, :name ) %>
        <%= f.submit '検索' %>
      <% end %>
    </div>

    <div class="row" style="height:50px"></div>

  <div class="row">
    <div class="col-xs-3 offset-3">
      <%= attachment_image_tag @item, :image, size: "300x200" %>
    </div>

    <div class="col-xs-7 offset-1">
      <h2><%= @item.name %></h2>
      <p><%= @item.introduction %></p>
      <br>
      <p><strong><h4></h4>¥ <%= @item.price %></strong>(税込)</p>
    </div>
  </div>
    <div class="row offset-7">
        <%= form_with model: @cart_items, url: cart_items_path, local:true do |f| %>
          <%= f.hidden_field :item_id, :value => @item.id, class: 'form-control' %>
          <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10], prompt: "個数選択", class: "form-control" %>
          <%= f.submit ' カートに入れる  ', class: 'btn btn-success' %>
        <% end %>
    </div>

